<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Web322 – Assignment 2 - Rithika Ramasamy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories>Categories</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About</h2>
                <p>
                    I am currently studying CPP at SENECA. My interests include web development, coding, and technology. My goal is to become a proficient full-stack developer.
                </p>
            </div>
            <div class="col-lg-6">
                <h2>Coming Soon</h2>
                <p>
                    Stay tuned for future updates…
                </p>
            </div>
        </div>
    </div>
</body>
</html>
